html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Monospace", monospace;
}

.background {
  background: linear-gradient(90deg, #74ebd5, #acb6e5);
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1200%;
}

p {
  /* margin: 0 0 0.35em 0; */
  line-height: 1.2;
  justify-content: center;
}

.title {
  top: -200px;
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  left: 38%;
  text-align: center;
}

/* Middle Barrier*/

.arrow1 {
  width: 20%;
  height: 90px;
  rotate: 40deg;
  top: 40%;
  left: 20%;
  position: absolute;
  opacity: 0;
}

.arrow2 {
  width: 20%;
  height: 70px;
  rotate: -40deg;
  top: 55%;
  left: 63%;
  position: absolute;
  opacity: 0;
}

.arrow3 {
  width: 50%;
  height: 130px;
  rotate: -155deg;
  top: 185%;
  left: 25%;
  position: absolute;
  opacity: 0;
}

.arrow4 {
  width: 50px;
  height: 120px;
  rotate: -125deg;
  top: 2900px;
  left: 67%;
  position: absolute;
  opacity: 0;
}

.arrow5 {
  width: 50px;
  height: 120px;
  rotate: 100deg;
  top: 3150px;
  left: 30%;
  position: absolute;
  opacity: 0;
}

.arrow6 {
  width: 50px;
  height: 160px;
  rotate: 112deg;
  top: 2870px;
  left: 30%;
  position: absolute;
  opacity: 0;
}

.arrow7 {
  width: 50px;
  height: 120px;
  rotate: -65deg;
  top: 3120px;
  left: 66%;
  position: absolute;
  opacity: 0;
}



.ph1 .ph2 .ph3 .ph4 {
  position: relative;
  width: 93%;
  height: 90%;
  left: 50px;
  top: 50px;
  background: transparent;
}

.sphere1 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere2 {
  position: absolute;
  top: 43%;
  left: 40%;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere3 {
  position: absolute;
  top: 10px;
  left: 75%;
  width: 330px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere4 {
  position: absolute;
  top: 1200px;
  left: 72%;
  width: 330px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere5 {
  position: absolute;
  top: 1000px;
  left: 5%;
  width: 330px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.oval {
  position: absolute;
  top: 1450px;
  left: 5%;
  height: 150px;
  width: 600px;
  background-color: white;
  border-radius: 50%;
}

.oval h2 {
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 18px;
}

.bullets li {
  position: absolute;
  top: 160%;
  left: 155%;
}

.rectangle1 {
  position: absolute;
  top: 2100px;
  left: 180%;
  height: 500px;
  width: 400px;
  border-radius: 5%;
  background-color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rectangle1 p {
  opacity: 0;
}

.rectangle1 li {
  opacity: 0;
}

.rectangle2 {
  position: absolute;
  top: 2100px;
  right: 130%;
  height: 500px;
  width: 400px;
  border-radius: 5%;
  background-color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rectangle2 p {
  opacity: 0;
}

.rectangle2 li {
  opacity: 0;
}

.wbox1 {
  --s: 20px; 
  --w: 360px; 
  top: 2900px;
  left: 38%;
  position: absolute;
  text-align: center;
  opacity: 0;
  
  width: round(var(--w),4*var(--s)); 
  aspect-ratio: 1;
  padding: var(--s);
  border: var(--s) solid #0000;
  box-sizing: border-box;
  background: #CD8C52;
  border-radius: calc(3.5*var(--s));
  mask: 
    radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
    conic-gradient(#000 0 0) content-box,
    radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
     var(--s) var(--s) padding-box;
  mask-size: calc(var(--s)*4) calc(var(--s)*4);
}



.bullets2 li {
  position: absolute;
  top: 3000px;
  left: 55%;
  opacity: 0;
}


.oval2 {
  position: absolute;
  top: 3350px;
  left: 20%;
  height: 140px;
  width: 60%;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  opacity: 0;

}

.oval2 h3 {
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 18px;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url(images/footer.jpg);
}

.footer p {
  margin: 0.15em 0;
  line-height: 1.15;
  font-size: 13px;
  color: white;
  text-align: right;
}
