html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Monospace", monospace;  
  background: linear-gradient(#5614b0, #dbd65c);
  background-repeat: no-repeat;
}

/*.background{
  position: absolute;
  top: 0;
  width: 100%;
  height: 400%;
  background: linear-gradient(#5614b0, #dbd65c);
  background-repeat: no-repeat;
}
*/
p {
  /* margin: 0 0 0.35em 0; */
  line-height: 1.2;
  justify-content: center;
}

/*selida 1*/
.ph1{
  position: relative;
  width: 99%;
  height: 99%;
  background: transparent;
  top: 0.5%;
  left: 0.5%;

}

.title {
  top: -200px;
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  left: 38%;
  text-align: center;
}


.sphere1 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere2 {
  position: absolute;
  top: 43%;
  left: 40%;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere3 {
  position: absolute;
  top: 10px;
  left: 75%;
  width: 330px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}




.arrow1 {
  width: 25%;
  height: 100px;
  rotate: 30deg;
  top: 40%;
  left: 15%;
  position: absolute;
  opacity: 0;
}

.arrow2 {
  width: 20%;
  height: 10%;
  rotate: -40deg;
  top: 40%;
  left: 58%;
  position: absolute;
  opacity: 0;
}








/*selida 2*/
.ph2{
  position: relative;
  width: 99%;
  height: 99%;
  background: transparent;
  top: 80%;
  left: 0.5%;

}


.sphere4 {
  left: 5%;
  position: absolute;
  width: 330px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere5 {
  position: absolute;
  top: 15%;
  left: 65%;
  width: 330px;
  height: 300px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.oval {
  position: absolute;
  top: 60%;
  left: 10%;
  height: 150px;
  width: 600px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
}

.oval h2 {
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 18px;
}


.bullets{
  position: absolute;
  top: 20%;
  left: 25%;
}

.bullets li {
  position: relative;
  left: -250%;
}


.arrow3 {
  width: 30%;
  height: 100px;
  transform: rotate(-20deg) scaleX(-1);
  top: 55%;
  left: 42%;
  position: absolute;
  opacity: 0;
}



/*selida 3*/

.ph3{
  position: relative;
  width: 99%;
  height: 99%;
  background: transparent;
  top: 140%;
  left: 0.5%;

}

.p3Deco {
  position: absolute;
  top: 25%;
  left: 43%;
  width: 200px;
  height: 200px;
  opacity: 0;
}

.activator1 {
  top: 70%;
  left: 24%;
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.activator1 .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.activator1 .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.activator1:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.activator2 {
  top: 70%;
  left: 70%;
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.activator2 .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.activator2 .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.activator2:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}


.rectangle1 {
  position: absolute;
  left: 180%;
  height: 500px;
  width: 400px;
  border-radius: 5%;
  background-color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rectangle1 p {
  opacity: 0;
}

.rectangle1 li {
  opacity: 0;
}

.rectangle2 {
  position: absolute;
  right: 130%;
  height: 500px;
  width: 400px;
  border-radius: 5%;
  background-color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rectangle2 p {
  opacity: 0;
}

.rectangle2 li {
  opacity: 0;
}


/*selida 4*/

.ph4{
  position: relative;
  width: 99%;
  height: 99%;
  background: transparent;
  top: 200%;
  left: 0.5%;

}
.wbox1 {
  --s: 20px; 
  --w: 360px; 
  left: 38%;
  position: absolute;
  text-align: center;
  
  width: round(var(--w),4*var(--s)); 
  aspect-ratio: 1;
  padding: var(--s);
  border: var(--s) solid #0000;
  box-sizing: border-box;
  background: #CD8C52;
  border-radius: calc(3.5*var(--s));
  mask: 
    radial-gradient(calc(sqrt(2)*var(--s)),#000 calc(100% - 1px),#0000),
    conic-gradient(#000 0 0) content-box,
    radial-gradient(calc(sqrt(2)*var(--s)),#0000 100%,#000 calc(100% + 1px)) 
     var(--s) var(--s) padding-box;
  mask-size: calc(var(--s)*4) calc(var(--s)*4);
}


.arrow4 {
  width: 50px;
  height: 120px;
  rotate: -125deg;
  left: 67%;
  position: absolute;
}

.arrow5 {
  width: 50px;
  height: 120px;
  rotate: 100deg;
  left: 30%;
  position: absolute;
}

.arrow6 {
  width: 50px;
  height: 160px;
  rotate: 112deg;
  left: 30%;
  position: absolute;
}

.arrow7 {
  width: 50px;
  height: 120px;
  rotate: -65deg;
  left: 66%;
  position: absolute;
}


.bullets2{
  position:absolute;
}

.bullets2 li {
  position: relative;
}


.oval2 {
  position: absolute;
  left: 20%;
  height: 140px;
  width: 60%;
  text-align: center;
  background-color: white;
  border-radius: 50%;
}

.oval2 h3 {
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: 18px;
}

/* Footer */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url(images/footer.jpg);
}

.footer p {
  margin: 0.15em 0;
  line-height: 1.15;
  font-size: 13px;
  color: white;
  text-align: right;
}
