html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif;  
  background: linear-gradient(#5614b0, #dbd65c);
  background-repeat: no-repeat;
}

p {
  line-height: 1.2;
  justify-content: center;
}

/*selida 1*/
.ph1{
  position: relative;
  width: 99%;
  height: 99%;
  background: transparent;
  top: 0.5%;
  left: 0.5%;

}

.title {
  top: -200px;
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  left: 38%;
  text-align: center;
}

.sphere1 {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 300px;
  height: 300px;
  background: linear-gradient(to bottom, #FFFFFF, #F1EFA5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere2 {
  position: absolute;
  top: 43%;
  left: 40%;
  width: 350px;
  height: 350px;
  background: linear-gradient(#F1EFA5, #F5F5F7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere3 {
  position: absolute;
  top: 10px;
  left: 75%;
  width: 330px;
  height: 300px;
  background: linear-gradient(to bottom, #FFFFFF, #C7C36A);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.arrow1 {
  width: 22%;
  height: 100px;
  rotate: 30deg;
  top: 40%;
  left: 20%;
  position: absolute;
  opacity: 0;
}

.arrow2 {
  width: 16%;
  height: 10%;
  rotate: -40deg;
  top: 42%;
  left: 62%;
  position: absolute;
  opacity: 0;
}


/*selida 2*/
.ph2{
  position: relative;
  width: 99%;
  height: 99%;
  background: transparent;
  top: 50%;
  left: 0.5%;

}

.title2 {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  top: -10%;
  right: 10%;
  text-align: center;
}

.sphere4 {
  left: 5%;
  position: absolute;
  width: 330px;
  height: 300px;
  background: linear-gradient(135deg, #FFFFFF, #F8F7C8, #F1EFA5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.sphere5 {
  position: absolute;
  top: 15%;
  right: 5%;
  width: 330px;
  height: 300px;
  background: linear-gradient(225deg, #FFFFFF, #F8F7C8, #F1EFA5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  opacity: 0;
}

.oval {
  position: absolute;
  top: 66%;
  left: 10%;
  height: 150px;
  width: 600px;
  background: linear-gradient(to right, #F8F7C8, #F1EFA5);
  border-radius: 50%;
  opacity: 0;
}

.oval h2 {
  position: absolute;
  top: 15%;
  left: 5%;
  text-align: center;
  font-size: 18px;
}

.bullets{
  position: absolute;
  top: 20%;
  left: 25%;
}

.bullets li {
  position: relative;
  left: -250%;
}

.arrow3 {
  width: 30%;
  height: 100px;
  transform: rotate(-20deg) scaleX(-1);
  top: 64%;
  left: 55%;
  position: absolute;
  opacity: 0;
}


/*selida 3*/
.ph3{
  position: relative;
  width: 99%;
  height: 99%;
  background: transparent;
  top: 100%;
  left: 0.5%;

}

.title3 {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  top: -3%;
  left: 9%;
  text-align: center;
  opacity: 0;
}

.title4 {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  top: 0%;
  right: 14%;
  text-align: center;
  opacity: 0;
}

.p3Deco {
  position: absolute;
  top: 25%;
  left: 43%;
  width: 200px;
  height: 200px;
  opacity: 0;
}

.activator1 {
  top: 80%;
  left: 20%;
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.activator1 .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.activator1 .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.activator1:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.activator2 {
  top: 80%;
  left: 72%;
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.activator2 .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.activator2 .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.activator2:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.p4activator {
  top: -500%;
  left: 35%;
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.p4activator .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.p4activator .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.p4activator:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}

.rectangle1 {
  position: absolute;
  left: 180%;
  height: 500px;
  width: 400px;
  border-radius: 5%;
  background: linear-gradient(to left, #FFFFFF, #C7C36A);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rectangle1 p {
  opacity: 0;
}

.rectangle1 li {
  opacity: 0;
}

.rectangle2 {
  position: absolute;
  right: 130%;
  height: 500px;
  width: 400px;
  border-radius: 5%;
  background: linear-gradient(to right, #FFFFFF, #C7C36A);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.rectangle2 p {
  opacity: 0;
}

.rectangle2 li {
  opacity: 0;
}


/*selida 4*/
.ph4{
  position: relative;
  width: 120%;
  height: 99%;
  background: transparent;
  top: 180%;
  left: 5%;
}

.title5 {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  top: -5%;
  left: -200%;
  text-align: center;
}

.p4Deco {
  z-index: 1;
  top: 0%;  
  left: -50%;
  position: absolute;
  width: 40%;
  height: 95%;
  background: linear-gradient(to top left, #d9c9ff, #c9e8ff); 
  border-radius: 80%;

}

.f1{
  top: 25%;
  left: 83%;
  position: absolute;
}
.f2{
  top: 38%;
  left: 87%;
  position: absolute;
}
.f3{
  top: 53%;
  left: 88%;
  position: absolute;

}
.f4{
  top: 70%;
  left: 85%;
  position: absolute;

}

.f1, .f2, .f3, .f4 {
  padding: 20px 20px;
  background: transparent;
  border: none;
  font-size: 18px;
  transition: 50ms;
}

.f1 span, .f2 span, .f3 span, .f4 span {
  color: gray;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

.f1:before, .f2:before, .f3:before, .f4:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: red;
  box-shadow: 0 0 10px red,
   0 0 30px red, 
   0 0 50px red;
}

.f1 div, .f2 div, .f3 div, .f4 div {
  transition: 500ms;
  position: absolute;
  background-color: red;
  box-shadow: 0 0 15px red, 0 0 30px red, 0 0 50px red;
}

.f1 .top , .f2 .top, .f3 .top, .f4 .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

.f1 .bottom, .f2 .bottom, .f3 .bottom, .f4 .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.f1 .left, .f2 .left, .f3 .left, .f4 .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

.f1 .right, .f2 .right, .f3 .right, .f4 .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;
}

.f1:hover, .f2:hover, .f3:hover, .f4:hover {
  color: #000;
}

.f1:hover span, .f2:hover span, .f3:hover span, .f4:hover span {
  color: #000;
}

.f1:hover:before, .f2:hover:before, .f3:hover:before, .f4:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.f1:hover .top,
.f1:hover .bottom,
.f2:hover .top,
.f2:hover .bottom,
.f3:hover .top,
.f3:hover .bottom,
.f4:hover .top,
.f4:hover .bottom {
  width: 100%;
}

.f1:hover .left, .f2:hover .left, .f3:hover .left, .f4:hover .left,
.f1:hover .right, .f2:hover .right, .f3:hover .right, .f4:hover .right {
  height: 100%;
}

.bullets2{
  position: absolute;
  top: 25%;
  left: 25%;

}

.bullets2 li {
  position: relative;
  left: -450%;
}

.halfSphereText {
  position: absolute;
  top: 2%;
  width: 20%;
  left: 55%;
}

.square {
  position: absolute;
  top: 20%;
  right: -20%;
  height: 50%;
  width: 10%;
  text-align: center;
  background: linear-gradient(to top right, #d9c9ff, #c9e8ff);
  border-radius: 20px;
}

.sqaure h3 {
  position: absolute;
  top: 15%;
  text-align: left;
  font-size: 18px;
}

/* Selida 5 */
.ph5 {
  position: relative;
  width: 120%;
  height: 99%;
  background: transparent;
  top: 200%;
  left: 5%;
}

.title6 {
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  top: 0%;
  left: -50%;
  text-align: center;
  opacity: 1;
}

.bibliography {
  position: absolute;
  top: 10%;
  left: 0%;
}

.bibliography li {
  position: relative;
  opacity: 0;
}

.b14 {
  font-weight: bold;
}


/* Footer */
.footer {
  position: fixed;
  bottom: -100%;
  width: 100%;
  background: linear-gradient(to right, #8a2be2 0%, #a66cff 30%, #dcc9a3 50%, #a66cff 70%, #8a2be2 100%, #8a2be2 100%);
  opacity: 0;
}

.footer p {
  margin: 0.15em 0;
  line-height: 1.15;
  font-size: 13px;
  color: white;
  text-align: right;
}

/* Responsive */
@media (max-width: 1200px) {
  .title,
  .title2,
  .title5 {
    font-size: 32px;
  }

  .sphere1,
  .sphere2,
  .sphere3,
  .sphere4,
  .sphere5 {
    width: min(42vw, 320px);
    height: min(42vw, 320px);
    font-size: 16px;
  }

  .rectangle1,
  .rectangle2 {
    width: min(42vw, 420px);
    height: auto;
    min-height: 500px;
    padding: 12px;
  }

  .oval {
    width: min(78vw, 620px);
  }

  .halfSphereText {
    width: 34%;
  }

  .square {
    width: 26%;
  }
}

@media (max-width: 900px) {
  html,
  body {
    height: auto;
    min-height: 100%;
  }

  .ph1,
  .ph2,
  .ph3,
  .ph4,
  .ph5 {
    width: 100%;
    height: auto;
    min-height: auto;
    top: 0;
    left: 0;
    padding: 28px 14px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }

  .ph1 > *,
  .ph2 > *,
  .ph3 > *,
  .ph4 > *,
  .ph5 > * {
    width: min(94vw, 760px);
    box-sizing: border-box;
  }

  .title,
  .title2,
  .title3,
  .title4,
  .title5,
  .title6 {
    position: static !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    font-size: clamp(24px, 6vw, 34px);
    text-align: center;
    margin: 0 0 6px;
    opacity: 1;
    line-height: 1.15;
  }

  .sphere1,
  .sphere2,
  .sphere3,
  .sphere4,
  .sphere5,
  .oval,
  .rectangle1,
  .rectangle2,
  .p3Deco,
  .p4Deco,
  .square,
  .bibliography,
  .bullets,
  .bullets2,
  .halfSphereText,
  .activator1,
  .activator2,
  .p4activator {
    position: static !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    bottom: auto !important;
  }

  .sphere1,
  .sphere2,
  .sphere3,
  .sphere4,
  .sphere5 {
    width: min(86vw, 360px);
    height: min(86vw, 360px);
    opacity: 1;
    font-size: 15px;
    padding: 14px;
  }

  .bullets,
  .bullets2,
  .bibliography {
    width: 100%;
    padding-left: 18px;
    box-sizing: border-box;
    margin: 0;
  }

  .bullets li,
  .bullets2 li {
    left: 0 !important;
    top: auto !important;
    opacity: 1;
    margin-bottom: 6px;
    line-height: 1.35;
  }

  .bibliography li {
    opacity: 1;
    margin-bottom: 10px;
    line-height: 1.35;
    overflow-wrap: anywhere;
  }

  .bibliography a {
    word-break: break-word;
  }

  .oval {
    width: min(90vw, 650px);
    height: auto;
    border-radius: 24px;
    padding: 12px 14px;
    opacity: 1;
  }

  .oval h2 {
    position: static;
    margin: 0;
    font-size: 18px;
  }

  .rectangle1,
  .rectangle2 {
    width: min(92vw, 650px);
    min-height: auto;
    height: auto;
    border-radius: 16px;
    padding: 12px 14px;
  }

  .rectangle1 ul,
  .rectangle2 ul {
    margin: 8px 0;
    padding-left: 18px;
    text-align: left;
  }

  .rectangle1 li,
  .rectangle2 li {
    margin-bottom: 5px;
  }

  .rectangle1 p,
  .rectangle1 li,
  .rectangle2 p,
  .rectangle2 li {
    opacity: 1;
  }

  .p3Deco {
    width: min(60vw, 230px);
    height: auto;
    opacity: 1;
  }

  .p4Deco {
    width: min(92vw, 700px);
    height: auto;
    border-radius: 24px;
    padding: 16px;
    text-align: left;
  }

  .halfSphereText {
    width: 100%;
    margin: 0;
  }

  .f1,
  .f2,
  .f3,
  .f4 {
    position: static;
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .square {
    width: min(92vw, 700px);
    height: auto;
    padding: 12px 14px;
  }

  .square h3 {
    position: static;
    font-size: 18px;
    margin: 0;
  }

  .arrow1,
  .arrow2,
  .arrow3 {
    display: none;
  }

  .footer {
    position: static;
    opacity: 1;
    margin-top: 24px;
    padding: 10px 14px;
  }

  .footer p {
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .title,
  .title2,
  .title3,
  .title4,
  .title5,
  .title6 {
    font-size: clamp(20px, 7vw, 26px);
    margin-bottom: 4px;
  }

  p,
  li {
    font-size: 14px;
    line-height: 1.4;
  }

  .ph1,
  .ph2,
  .ph3,
  .ph4,
  .ph5 {
    padding: 22px 10px;
    gap: 10px;
  }

  .sphere1,
  .sphere2,
  .sphere3,
  .sphere4,
  .sphere5 {
    width: min(88vw, 330px);
    height: min(88vw, 330px);
    font-size: 14px;
    padding: 12px;
  }

  .oval h2,
  .square h3 {
    font-size: 16px;
    line-height: 1.3;
  }

  .rectangle1,
  .rectangle2,
  .p4Deco,
  .square {
    border-radius: 12px;
    padding: 10px 12px;
  }

  .activator1,
  .activator2,
  .p4activator {
    width: 52px;
    height: 44px;
    outline-width: 7px;
  }

  .bibliography {
    padding-left: 16px;
  }
}
